body {
    background-color: #111;
}
/*
.container {
    border: dotted;
    background-color: skyblue;
}

.row > * {
    background-color: burlywood;
    border: 1px solid navajowhite;
}
*/
.main-content {
    margin-left: 4.5rem; /* Offset main content by the sidebar's width */
    margin-right: 4.5rem; /* Optional: if you want the same margin on the right for symmetry */
    /* Center content within the available space */
    max-width: calc(100% - 9rem); /* Adjust if you add margin-right */
    margin: auto;
    /* Additional styling */
}


.left-nav {
    background-color: #333;
    width: 4.5rem;
    height: 100vh;
    position: fixed;
}

.nav-icons {
    font-size: 2rem;
}

.nav-active{
    font-size: 2.5rem;
    color: #fdfdfd;
}

.nav-inactive{
    color: #aaa;
}

.nav-link:focus, .nav-link:hover {
    color: #555;
}

.main-title {
    color: #fdfdfd;
}

.subtext {
    color: #aaa;
}

.custom-card-size {
    height: 500px;
    /*height: 500px;*/
}

.custom-div {
    width: 400px; /* Set your desired width */
    height: 400px; /* Set your desired height */
    background-size: cover; /* Cover ensures the background image fully covers the div */
    background-position: center; /* Adjusts the image's position to center */
    overflow: hidden; /* This is what crops the image */
    margin: auto;
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}
  
.custom-div:hover {
    transform: scale(1.01); /* Color changes on hover */
    opacity: 0.9;
    box-shadow: 0 0 60px -16px rgba(255, 255, 255, 0.2);
}